@tailwind base;
@tailwind components;
@tailwind utilities;

/* div{
  border: 1px solid hotpink;
} */

.text-gradient-green-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #4DD399, #0EB2A6);
}

/* div{
  border:  1px solid green;
} */